
.textbox, .textboxHovered
{
	height: 15px;
	background: url(niceforms-v1.0/images/input_bg.gif) repeat-x left top;
	border: none;
	padding: 4px 0;
	vertical-align: middle;
}
.TextBoxHovered 
{
	background-position:left bottom;
}
.inputCorner 
{
	padding-bottom:0;
	vertical-align:middle;
}


.Tabela{table-layout:fixed; }

